@import "@fontsource/roboto-mono";

:root {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    background: #f5f5f5;
    color: #2a2a2a;

    --link-color: #3c82cb;
}

a {
    color: var(--link-color);
}
